*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(24, 23, 23);
  }
 main{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} 

canvas {
  display: block; 
}
  